<html>

<head>
  <title>Contact</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Hi this is contact</h1>
    <h2>my email is: <%=email %></h2>
    <h2>my address is: <%=address %></h2>
    <h2>my phone is: <%=phone %></h2>

</body>

</html>
