.App {
  text-align: center;
}

.Navbar{
  display: flex;
  justify-content: center;
  margin:0px;
  padding: 10px;
  background-color:lightblue;
}
.Navbar li{
  padding: 0 10px;
}

.Banner {
  backgrouund-color:;
  background-image:url;
  background-blend-mode:overlay;
  background-position:50%;
  background-size:cover;
}

ul {
  list-style-type: none;
}

.UserImage{
  width:400px;
  float:left;
  margin:20px;
}
.hobbyFotos img{
  width:250px;
  float:left;

}
.hobbyFotos{
  height:100px;
  overflow:hidden;
}

.musicFotos{
  height:100px;
  overflow:hidden;
}

form {
  text-align: center;
  display: block;
  margin-top: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
