$maincolor: #444;
 $secondcolor:blue;
 $mainfont-family: 'Libre Franklin', sans-serif;
 $secontfont-family: 'Akronim', cursive;
 
 $link-color1: rgb(230, 220, 220);
 $link-color2: #444;
 
 
 $background1:linear-gradient(top, #b3dced 0%,
 #29b8e5 29%,
 #bce0ee 100%); /* FF3.6-15 */
 
 $background2: linear-gradient(top, #b5bdc8 0%,
  #828c95 36%,
  #28343b 100%); /* FF3.6-15 */
 
  $font-h1: 2em;
  $font-links:1.8em;
  $fonttext:'Akronim', cursive;
 
  $box-shadow: 9px 6px 19px 7px #444;
  $text-center: center;
  $text-justify: justify;
 
 body{
    background: $background1;
    font-family: $mainfont-family;
 }
 
 header{
    text-align: $text-center;
    padding: 20px;
 }
 
 nav{
    ul{
        text-align: $text-center;
        list-style-type: none;
        li{
            display: inline-block;
            a{
                text-decoration: none;
                padding: 16px;
                font-weight: 700;
                font-family: $secontfont-family;
                color: $link-color1;
 
            }
        }
    }
 }
 
 main{
    .cards{
        margin-top:16px;
        display: flex;
        text-align: $text-center;
        card{
            border: 1px solid #444;
            border-radius: 25px;
            flex: 33.3%;
            padding: 20px;
            margin: 20px;
            box-shadow: $box-shadow;
 
            p{
                text-align: $text-center;
                font-size: $fonttext;
            }
 
            p:hover{
                color: tomato;
            }
            button{
                cursor: pointer;
                padding: 5px;
                font-size: $font-links;
                background: $background2;
            }
 
            h4{
                font-size: 1.5em;
            }
 
            portion{
                display: flex;
                align-items: $text-center;
 
                img{
                    width: 20vw;
                }
 
                article{
                    text-align: $text-justify;
                    font-size: $fonttext;
                }
            }
 
        }
 
        aside,section{
            padding: 35px;
            font-size: $fonttext;
            text-align: $text-justify;
        }
 
        footer{
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
 
 }
 
 @import "header";