
body{
    background-color:rgb(100, 100, 200);
    background-color:#e6e6e6;
    background:#e6e6e6;
    background-image:url(pic1.jpg);
    /* height:1500px; */
    background-repeat:repeat-y; 
    background-repeat:no-repeat;
    /*background-size:contain;
    background-size:cover;
    
    background-position-x: center;
    background-position-y: top;
    background-size:100%;
    
    background-position:center center;
    background-attachment:scroll; */
    height:1900px;
    /* background: url('pic1.jpg') center center cover no-repeat fixed; */
    background-image: url('pic2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment:fixed;

}

p{
    font-size:30px;
    color:white;
    font-weight:bold;
    
}