body {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
  
}

.font-italic {
    font-family: 'Gugi', cursive;
    font-style: 'obilique';
}
.my-font {
    font-family: 'Parisienne', cursive;
    
}

.google-font {
    font-family: 'ZCOOL KuaiLe', cursive;
    text-transform:capitalize;
}

.ru-font {
    font-family: 'Caveat', cursive;
}

@font-face {
    src:url(Sofia-Regular.ttf);
    font-family: my-new-font;
}

.newfont {
    font-family:my-new-font;
}

@font-face {
    src:url(Modak-Regular.ttf);
    font-family: modak;
}

.modak {
    font-family: modak;
    font-variant:initial;
}
