header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
}

footer {
    background: #000000;
    color: white;
    text-align: center;
}

article{
    padding: 10px;
    font-family: verdana;
    font-size: 17px;
}
 

nav {
    background: #808080;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;

}

nav a{
    display: inline-block;
    color: #fff;
    padding: 16px 10px 16px 10px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: bisque;
    color: #000000;

}

@media screen and (max-width:600px) { 
   nav a {
        width: 100%;
        display: block;
        
   }
    
}
.bw {
    font-family: 'Black And White Picture', sans-serif;
    color:blue
}

.js {
    font-family: 'Pacifico', cursive;
    color:red;
}

.node {
    font-family: 'Source Code Pro', monospace;
    color:greenyellow;
}