*{
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    width: 100%;
    margin: 0 auto;
}

#main {
    width: 100%;
    margin: 0 auto;
}
/*
    #mydiv{
        width: 30%;
        background-color: lightblue;
        height: 300px;
        margin: 0 auto;
        text-align: center;

    }
    p {
        margin: 0 auto;
    }

    #mydiv1 {
        width: 100%;
        padding: 40px;
        background-color: yellow;
        text-align: center;

    }

    #mydiv2 {
        width: 100px;
        height: 100px;
        background-color: green;
        margin: 0 auto;
    }
    
        
    #div2 {
        width: 100px;
        height: 100px;
        background: green;
        margin: 0 auto;
        text-align: center;
    }
     #header {
        width: 100px;
        height: 100px;
        background: lightgrau;
        position: absolute;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        left: 0;

    }
    */

    header {
        width: 100%;
        border: 1px solid darkgoldenrod;
        position: relative;

        
    }

    #main_title {
        padding: 10px;
    }
    header h1, #logo {
        display: inline-block;
    }

    header h2 {
        font-weight: normal;
        margin-top: 0;
    }
    nav {
        position: absolute;
        right: 20px;
        bottom: 10px;
    }

    nav a {
        padding: 10px;
        color: black;
        font-size: 17px;
        text-decoration: none;
    }

    nav a:hover{
        color: red; 
        background-color: yellow;
    }
   
    #banner_image {
        height: 200px;
        width: 100%;
        border: 1px solid darkgoldenrod;
        margin-top: 15px;
        background: url(images/banner_image.jpg) 
        no-repeat;
        background-size: cover;
        position: relative;
    }
      article {
          width: 60%;
      }

    aside {
        width: 40%;
        margin-left:0px;
        background-color: #706b64;
        padding: 10px;
    }

    article,aside {
        float: left;
        border: 1px solid darkgoldenrod;
        text-align: justify;
        margin-top: 10px;
    }
    footer {
        width: 100%;
        display: inline-block;
        border: 3px solid darkgoldenrod;

    }
    #tweet, #my_pictures, #myfriends {
        float: left;
        width: 33%;

    }

    #banner_description {
    position: absolute;
    bottom:0;
    padding: 10px;
    color:white;
    background-color: rgba(0, 0, 0, 0.527);
    width:100%;
    padding-top: 5px;
    padding-left: 6px;
    }
    .red_button {
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        background: red;
        padding: 3px;
    }




