*{
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrod;
    width: 100%;
    margin: 0 auto;
}

#main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
/*
    #mydiv{
        width: 30%;
        background-color: lightblue;
        height: 300px;
        margin: 0 auto;
        text-align: center;

    }
    p {
        margin: 0 auto;
    }

    #mydiv1 {
        width: 100%;
        padding: 40px;
        background-color: yellow;
        text-align: center;

    }

    #mydiv2 {
        width: 100px;
        height: 100px;
        background-color: green;
        margin: 0 auto;
    }
    
        
    #div2 {
        width: 100px;
        height: 100px;
        background: green;
        margin: 0 auto;
        text-align: center;
    }
     #header {
        width: 100px;
        height: 100px;
        background: lightgrau;
        position: absolute;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        left: 0;

    }
    */

    header {
        width: 100%;
        border: 1px solid darkgoldenrod;
        position: relative;

        
    }

    #main_title {
        padding: 10px;
    }
    header h1, #logo {
        display: inline-block;
    }

    header h2 {
        font-weight: normal;
        margin-top: 0;
    }
    nav {
        position: absolute;
        right: 20px;
        bottom: 10px;
    }

    nav a {
        padding: 10px;
        color: black;
        font-size: 20px;
        text-decoration: none;
    }

    nav a:hover{
        color: red; 
        background-color: yellow;
    }
   
    #banner_image {
        height: 200px;
        width: 100%;
        border: 1px solid darkgoldenrod;
        margin-top: 15px;
        background: url(images/banner_image.jpg) 
        no-repeat;
        background-size: cover;
        position: relative;
    }
      article {
          width: 65%;
      }
      #logo2 {
          vertical-align: middle;
      }

    aside {
        width: 35%;
        color: white;
        background-color: #706b64;
        border: 1px solid #333;
        border-radius: 15px;
        box-shadow: 0px 2px 5px#1c1a19;
    }

    aside h1{
        text-align: center;
    
    }
    article,aside {
        float: left;
        text-align: justify;
        padding: 10px;
    }
    #asideimg{
        margin-left: auto;
        display: block;
        margin-right: auto;
        width: 50%;
        max-width:100%; /*image will on take 100% of original size and be responsive*/


    }
    .social-media {
        text-align: center;
    }
    .social-media{
        margin-right: 5px;
    }
    footer {
        width: 100%;
        display: inline-block;
               

    }
    #tweet, #my_pictures, #my_friends {
        vertical-align: top;
        display: inline-block;


    }

    #tweet {
        width:28%;
    }

    footer h2{
        font-weight: normal;
    }
    #my_pictures img {
        border: 1px solid black;
        
    }

    #my_friends {
        width: 35%;

    }

    #my_pictures {
        width: 35%;
        padding-right: 5px;
    }

    #my_friends ul{
        display: inline-block;
        vertical-align: top;
        width: 48%;
        padding-left: 12px;
        margin-top: 0px;
        list-style-image: url(images/list.png   );

    }

    #my_friends a {
        text-decoration: none;
        color:#760001;
    }

    #banner_description {
    position: absolute;
    bottom:0;
    padding: 10px;
    color:white;
    background-color: rgba(0, 0, 0, 0.527);
    width:100%;
    padding-top: 5px;
    padding-left: 6px;
    }
    .red_button {
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        background: red;
        padding: 3px;
    }

    @media screen and (max-width:600px) {
      
        nav {
            position: relative;
            text-align: center;
        }
      
        nav a, aside, article, #my_friends, #my_pictures, #tweet, my_friends ul{
            display: block;
            width: 100%;
        }
        #my_pictures, #my_friends, #tweet {
            text-align: center;
        }
        #main title {
            width: 100%;
            text-align: center;
        }
    }




